.article-container{
    font-size: 2.0rem;

    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 1rem auto;
    width: 1000px;
}

.image-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 70%;
    margin: 1rem 0 0 0;
}
.image-div{
    align-self: center;
    width: 100%;
}
.article-image{
    width: 100%;
}
.copyright-info{
    display: flex;
    justify-content: flex-end;
    align-self: flex-end;
    font-size: 1.2rem;
}
.copyright-name{
    margin: 0.5rem 1rem;
}
.copyright-date{
    margin: 0.5rem 1rem;
}
.content-container{
    font-size: 1.6rem;
    display: flex;
    flex-direction: column;
}
.content-header{
    font-size: 3.0rem;
}
.firstLetter{
    font-size: 3.0rem;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.firstParagraph{
    font-size: 2.0rem;
    text-align: justify;
    text-justify: newspaper;
    width: 700px;
    text-indent: 3rem;
}